{% extends 'base.html' %}

{% block title %}
<title>Производство световой рекламы</title>
{% endblock %}

{% block body %}

<!-- Слайдер -->

<div class="container">
    <div class="card-deck mb-4 text-center">
        {% for category in categories %}
        <div class="col-md-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">{{ category }}</h4>
            </div>
            <div class="card-body">
                <img src="">
                <a href="/category/{{ category }}" class="btn btn-lg btn-block btn-outline-primary">Подробнее</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
